<!DOCTYPE html>

<html lang="en-us">
<head>
    <title>Oracle JET Starter Template - Web Basic</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1">
    <link rel="icon" href="css/images/favicon.ico" type="image/x-icon" />

    <!-- This is the main css file for the default Alta theme -->
    <!-- injector:theme -->
    <link rel="stylesheet" href="css/libs/oj/v7.1.0/alta/oj-alta-min.css" type="text/css" />
    <!-- endinjector -->
    <!-- This contains icon fonts used by the starter template -->
    <link rel="stylesheet" href="css/demo-alta-site-min.css" type="text/css" />

    <!-- This is where you would add any app specific styling -->
    <link rel="stylesheet" href="css/app.css" type="text/css" />

</head>
<body class="oj-web-applayout-body">
    <div id="globalBody" class="oj-web-applayout-page">

        <div class="hero-image">
            <div class="hero-text">
                <h3 style="color:white;font-size:1.8vw;font-weight:300;">Oracle Class of </h3>
                <h1 style="color:white;font-size:4vw">Tech Consulting</h1>
                <h3 style="color:white;font-size:2.5vw;font-weight:100;">Start your success story</h3>

            </div>

        </div>

        <div class="oj-hybrid-padding">

            <div class="wrapper">
                <img class="img-computer" src="css/images/people_computer.png" alt="person looking at computer illustration" />

                <article class="info">
                    <h2 class="panel-text-heading"style="font-family:'Avenir LT Std 95 Black';font-size:36px;">Why Class Of?</h2>
                    <h4 class="panel-text-content"style="font-size:20px;">
                        Oracle's Class Of program offers recent college graduates the unqiue experience of
                        Oracle's Class Of program offers recent college graduates the unqiue experience of
                        Oracle's Class Of program offers recent college graduates the unqiue experience of
                    </h4>
                    <button class="btn flex-btn" style="margin-left:20px;" onclick="window.location.href = 'https://www.oracle.com/corporate/careers/';"><span>Apply now </span></button>

                </article>


            </div>

            <div class="panel-wrapper">
                <div class="demo-mypanel">
                    <img src="css/images/cloud2.png" class="icon1" />
                    <h3 style="font-family: 'Avenir LT Std 95 Black';font-size:22px;">What is tech consulting?</h3>
                    <div class="oj-flex-item oj-sm-flex-1 mypanel-text">
                        <div style="font-size:16px;font-family: 'Avenir LT Std 65 Medium';font-size:18px;  line-height:24px;"> Oracle's Class Of Technology Consulting program helps recent college graduates quickly design, develop, and deliver Oracle technology solutions in Oracle Cloud. </div>
                        <div class="btn_div">
                            <button class="btn btn1"><span>Learn more </span></button>
                        </div>
                    </div>
                </div>

                <div class="demo-mypanel">
                    <img src="css/images/team_icon.png" class="icon2" />
                    <h3 style="font-family: 'Avenir LT Std 95 Black';font-size:22px;">Meet the team</h3>
                    <div class="oj-flex-item oj-sm-flex-1 mypanel-text">
                        <div style="font-size:16px;font-family: 'Avenir LT Std 65 Medium';font-size:18px;  line-height:24px;"> Oracle's Class Of Technology Consulting program helps recent college graduates quickly design, develop, and deliver Oracle technology solutions in Oracle Cloud. </div>
                        <div class="btn_div">
                            <button class="btn btn1"><span>Learn more </span></button>
                        </div>
                    </div>
                </div>

                <div class="demo-mypanel">
                    <img src="css/images/interview.png" class="icon3" />
                    <h3 style="font-family:'Avenir LT Std 95 Black';font-size:22px;">The recruitment process</h3>
                    <div class="oj-flex-item oj-sm-flex-1 mypanel-text">
                        <div style="font-size:16px; font-family: 'Avenir LT Std 65 Medium'; font-size:18px;line-height:24px;">Apply to Oracle Class of Tech Consulting and find out what to expect from the interiew process. Learn some tips and tricks to nailing the interview.</div>
                        <div class="btn_div">
                            <button class="btn btn1"><span>Learn more </span></button>
                        </div>
                    </div>
                </div>
            </div>




        </div>


        <!-- <div class="oj-flex">
        <div class="whatis">
            <oj-flex-item>
                <div class="whatis-text">
                    <h2 style="font-family:'Avenir LT Std 95 Black';font-size:36px;">Why Class Of?</h2>
                    <h4 style="font-size:20px;">
                        Oracle's Class Of program offers recent college graduates the unqiue experience of
                        Oracle's Class Of program offers recent college graduates the unqiue experience of
                        Oracle's Class Of program offers recent college graduates the unqiue experience of
                    </h4>
                    <button class="btn" style="margin-top:8px" onclick="window.location.href = 'https://www.oracle.com/corporate/careers/';"><span>Apply now </span></button>

                </div>
            </oj-flex-item>
            <oj-flex-item>
                <div class="whatis-img">
                    <img style="width:640px;height:450px;" src="css/images/people_computer.png" alt="person looking at computer illustration" />
                </div>
            </oj-flex-item>
        </div>
    </div>-->
        <!--  <div role="main" class="oj-web-applayout-max-width oj-web-applayout-content">
               <div class="oj-hybrid-padding">
                   <div id="container oj-sm-flex-items-1">
                       <div class="demo-flex-display oj-flex-items-pad">
                           <div class="oj-flex">
                               <div class="oj-flex-item oj-sm-flex-1 oj-panel demo-mypanel">
                                   <img src="css/images/cloud2.png" class="icon1" />
                                   <h3 style="font-family: 'Avenir LT Std 95 Black';font-size:22px;">What is tech consulting?</h3>
                                   <div class="oj-flex-item oj-sm-flex-1 mypanel-text">
                                       <div style="font-size:16px;font-family: 'Avenir LT Std 65 Medium';font-size:18px;  line-height:24px;"> Oracle's Class Of Technology Consulting program helps recent college graduates quickly design, develop, and deliver Oracle technology solutions in Oracle Cloud. </div>
                                       <div class="btn_div">
                                           <button class="btn btn1"><span>Learn more </span></button>
                                       </div>
                                   </div>
                               </div>
                               <div class="oj-flex-item oj-sm-flex-1 oj-panel demo-mypanel">
                                   <img src="css/images/team_icon.png" class="icon2" />

                                   <h3 style="font-family: 'Avenir LT Std 95 Black';font-size:22px;">Meet the team</h3>
                                   <div class="oj-flex-item oj-sm-flex-1
                                       <div style="font-size:16px;font-family: 'Avenir LT Std 65 Medium';font-size:18px;  line-height:24px;">Oracle Tech Consulting is made up of seven unique teams that specialize in different Oracle products. Find out what our teams are up to!< mypanel-text">
    /div>
                                       <div class="btn_div">
                                           <button class="btn btn2"><span>Learn more </span></button>
                                       </div>
                                   </div>
                               </div>
                               <div class="oj-flex-item oj-sm-flex-1 oj-panel demo-mypanel">
                                   <img src="css/images/interview.png" class="icon3" />
                                   <h3 style="font-family:'Avenir LT Std 95 Black';font-size:22px;">The recruitment process</h3>
                                   <div class="oj-flex-item oj-sm-flex-1 mypanel-text">
                                       <div style="font-size:16px; font-family: 'Avenir LT Std 65 Medium'; font-size:18px;line-height:24px;">Apply to Oracle Class of Tech Consulting and find out what to expect from the interiew process. Learn some tips and tricks to nailing the interview.</div>
                                       <div class="btn_div">
                                           <button class="btn btn3"><span>Learn more </span></button>
                                       </div>

                                   </div>
                               </div>
                           </div>
                       </div>




                       <div class="oj-flex oj-flex-init oj-panel oj-panel-alt1">
                           <h2>video interns made</h2>
                       </div>
                   </div>
               </div>
           </div>
            -->
    </div>

        <script type="text/javascript" src="js/libs/require/require.js"></script>
        <script type="text/javascript" src="js/main.js"></script>

</body>

</html>