<body class="oj-web-applayout-body">
    <div id="globalBody" class="oj-web-applayout-page">

        <div class="hero-image2">
            <div class="hero-text2">
                <h3>What is</h3>
                <h1>Tech Consulting?</h1>
            </div>
        </div>

        <div role="main" class="oj-web-applayout-max-width oj-web-applayout-content">
            <div class="oj-hybrid-padding">
                <div class="oj-flex">
                    <div class="whatis">
                        <oj-flex-item>
                            <div class="whatis-text" style="padding-top:30px;">
                                <h2 style="color:#E6AC58; font-family:'Georgia';font-size:40px; padding-bottom: 15px;">The Class Of Technology Consulting</h2>
                                <h4 style="font-size:20px; line-height:1.4; font-family: 'Oracle Sans Light';">
                                    The Class Of Technology Consulting program helps recent college graduates quickly design, develop, and deliver Oracle technology solutions in Oracle Cloud. Attendees also ensure that these solutions are delivered using Oracle&#39;s Total Cloud methodology, and adhere to best practices that have been defined from real-world consulting engagements.
                                    The program includes a mix of elearning, self-study, instructor-led workshops, and shadowing of active consulting engagements.
                                </h4>
                                <div class="btn_div" style="justify-content: left; margin-top:30px;">
                                    <button class="btn" onclick="window.location.href = 'https://www.oracle.com/corporate/careers/';"><span>Apply now</span></button>
                                </div>
                            </div>
                        </oj-flex-item>
                        <oj-flex-item>
                            <!--
                            <div class="whatis-img">
                                <img style="width:640px;height:450px; padding-right: 30px;" src="css/images/features.svg" />
                            </div>
                                -->
                        </oj-flex-item>
                    </div>
                </div>
                <div class="border-bottom"></div>
            </div>
        </div>
    </div>


    <div role="main" class="oj-web-applayout-max-width oj-web-applayout-content">
        <div class="oj-hybrid-padding">
            <div class="oj-flex">
                <div class="whatis-reverse">
                    <oj-flex-item>
                        <div class="whatis-img">
                            <img style="width:640px;height:450px; padding-left:30px;" src="css/images/programmer.svg" />
                        </div>
                    </oj-flex-item>
                    <oj-flex-item>
                        <div class="whatis-text" style="padding-top: 60px;">
                            <h2 style="font-family:'Georgia';font-size:40px; color:#E6AC58; padding-bottom:15px;">The Tech Consultant Role</h2>
                            <h4 style="font-size:20px; line-height:1.4; font-family: 'Oracle Sans Light';">
                                As a member of a project team, you will follow standard practices and procedures to analyze requirements and provide quality work products to deliver functional and technical solutions for applications and technology implementations to meet customer specifications. You are expected to work directly with customers and members of the consulting delivery and sales teams on key activities.
                            </h4>
                            <div class="btn_div" style="justify-content: left; margin-top:30px;">
                                <button class="btn"><span>View Activities</span></button>
                            </div>
                        </div>
                    </oj-flex-item>
                </div>
                <div class="border-top"></div>
            </div>
        </div>
    </div>



    <div role="main" class="oj-web-applayout-max-width oj-web-applayout-content">
        <div class="oj-hybrid-padding">
            <div class="oj-flex">

                <div class="whatis">
                    <oj-flex-item>
                        <div class="whatis-text" style="padding-top:50px;">
                            <h2 style="font-family:'Georgia';font-size:40px; color:#E6AC58; ">Tech Consultant Qualifications</h2>
                            <h4 style="font-size:20px; font-family: 'Oracle Sans Light';">
                                <ul>
                                    <li>Bachelor&#39;s degree in Computer Science, Computer Engineering, Information Technology, Management Information Systems or equivalent experience</li>
                                    <li>0-2 years of overall experience in relevant functional/technical area</li>
                                    <li>Demonstrates competence in a technology area</li>
                                    <li>Ability to communicate effectively and build rapport with team members and clients.</li>
                                    <li>Exposure to, or working knowledge in certain technical and functional areas</li>
                                </ul>
                            </h4>
                        </div>
                    </oj-flex-item>
                    <oj-flex-item>
                        <div class="whatis-img" style="padding-top: 20px;">
                            <img style="width:610px;height:450px; padding-right:25px;" src="css/images/goingup.svg" />
                        </div>
                </div>
                </oj-flex-item>
            </div>
            <div class="border-bottom"></div>
        </div>
    </div>
    </div>


    <div role="main" class="oj-web-applayout-max-width oj-web-applayout-content">
        <div class="oj-hybrid-padding">
            <div class="oj-flex">
                <div class="whatis-reverse">
                    <oj-flex-item>
                        <div class="whatis-img">
                            <img style="width:640px;height:430px; padding-left:30px;" src="css/images/startup.svg" />
                        </div>
                    </oj-flex-item>
                    <oj-flex-item>
                        <div class="whatis-text" style="padding-top:70px;">
                            <h2 style="font-family:'Georgia';font-size:40px; color:black;">Is Tech Consulting For You?</h2>
                            <h4 style="font-size:20px; line-height:1.4; font-family: 'Oracle Sans Light';">
                                Are you interested in being part of a next generation solutions organization inside Oracle?
                                Do you share the spirit of using technology to solve big problems?
                                If you want to engineer cutting-edge solutions for our customers around Cloud Computing, Database Performance and Migrations, Modern Application Development, Oracle technologies and applications, then Oracle Class of Technical Consulting is for you.
                            </h4>
                        </div>
                    </oj-flex-item>
                </div>
                <div class="border-top"></div>
            </div>
        </div>
    </div>


    <div role="main" class="oj-web-applayout-max-width oj-web-applayout-content">
        <div class="oj-hybrid-padding">
            <div id="container oj-sm-flex-items-1">
                <div class="demo-flex-display oj-flex-items-pad">
                    <div class="oj-flex">
                        <oj-flex-item>
                            <div class="teams-bio" style="padding-top: 100px;">
                                <h2 style="font-family:'Georgia';font-size:40px;  color:#E6AC58;">The Tech Consulting Teams</h2>
                                <h4 style="font-size:20px; font-family: 'Oracle Sans Light'; padding-top:20px;">
                                    The Austin Tech Consulting hub has seven individual teams with diverse skillsets and expertise.
                                </h4>
                            </div>
                        </oj-flex-item>
                    </div>
                </div>
            </div>
        </div>
        <div id="container oj-sm-flex-items-1">
            <div class="demo-flex-display oj-flex-items-pad">
                <div class="oj-flex">
                    <div class="teams" style="padding-top: 25px; padding-bottom: 10px;">
                        <div class="oj-panel oj-panel-shadow-md oj-sm-margin-2x demo-panel-customizations">
                            <img src="css/images/cloud.png" class="icon" />
                            <h2>Cloud Integrations Team</h2>
                            <div class="oj-flex-item oj-sm-flex-1 mypanel-text">
                                <div class="teams-text" style="font-size:14px; font-family: 'Avenir LT Std 65 Medium';">
                                    The Cloud Integrations Team works with the Integration Cloud Servce - app to app integration, cloud, and on-prem.
                                    This team works with the Visual Builder Cloud Service - creating UI, mobile, and web apps in a low-code environment.
                                    They also use the Process Cloud Service for Business Process Management.
                                </div>
                                <div class="btn_div">
                                    <button class="btn btn4" style="margin-top: 30px;"><span style="font-size: 12px;">View Past & Current Projects </span></button>
                                </div>
                            </div>
                        </div>
                        </oj-flex-item>


                        <oj-flex-item>
                            <div class="oj-panel oj-panel-shadow-md oj-sm-margin-2x demo-panel-customizations">
                                <img src="css/images/infrastucture.png" class="icon" />
                                <h2 style="font-family: 'Avenir LT Std 95 Black'">Infrastructure Team</h2>
                                <div class="oj-flex-item oj-sm-flex-1 mypanel-text">
                                    <div class="teams-text" style="font-size:14px; font-family: 'Avenir LT Std 65 Medium';">
                                        The Infrastructure Team is a team of technical architects responsible for the development and delivery of services related to Cloud Infrastructure as a Service (IaaS),
                                        as well as on-premises hardware and Engineered Systems, including assessments, advisory, architecture, implementation, and migration services.
                                    </div>
                                    <div class="btn_div">
                                        <button class="btn btn4" style="margin-top:33px;"><span style="font-size: 12px;">View Past & Current Projects </span></button>
                                    </div>
                                </div>
                            </div>
                        </oj-flex-item>


                        <oj-flex-item>
                            <div class="oj-panel oj-panel-shadow-md oj-sm-margin-2x demo-panel-customizations">
                                <img src="css/images/database.png" class="icon" />
                                <h2 style="font-family: 'Avenir LT Std 95 Black'">Database Team</h2>
                                <div class="oj-flex-item oj-sm-flex-1 mypanel-text">
                                    <div class="teams-text" style="font-size:14px; font-family: 'Avenir LT Std 65 Medium';">
                                        The Database Team works with migrations (Lift and Shift).
                                        This team also does performance tuning for long running queries.
                                        Additionally, they do health checks, upgrades, and patching (sever/database patches).
                                        The Database Team does Soar installations and uses Soar to migrate databases.
                                    </div>
                                    <div class="btn_div">
                                        <button class="btn btn4"><span style="font-size: 12px;">View Past & Current Projects </span></button>
                                    </div>
                                </div>
                            </div>
                        </oj-flex-item>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="container oj-sm-flex-items-1">
        <div class="demo-flex-display oj-flex-items-pad">
            <div class="oj-flex">
                <div class="teams" style="padding-bottom: 250px; padding-top:20px;">
                    <div class="oj-panel oj-panel-shadow-md oj-sm-margin-2x demo-panel-customizations">
                        <img src="css/images/business-intelligence.png" class="icon" />
                        <h2 style="font-family: 'Avenir LT Std 95 Black'">Business Intelligence Team</h2>
                        <div class="oj-flex-item oj-sm-flex-1 mypanel-text">
                            <div class="teams-text" style="font-size:14px; font-family: 'Avenir LT Std 65 Medium';">
                                The Business Intelligence Team delivers Oracle BI/Analytics solutions to the customer.
                                This team implements and provisions environments, assists with data loading and modeling, and gathers functional and business reports.
                            </div>
                            <div class="btn_div">
                                <button class="btn btn4" style="margin-top: 30px;"><span style="font-size: 12px;">View Past & Current Projects </span></button>
                            </div>
                        </div>
                    </div>
                    </oj-flex-item>


                    <oj-flex-item>
                        <div class="oj-panel oj-panel-shadow-md oj-sm-margin-2x demo-panel-customizations">
                            <img src="css/images/microservices.png" class="icon" />
                            <h2 style="font-family: 'Avenir LT Std 95 Black'">App Dev & Microservices Team</h2>
                            <div class="oj-flex-item oj-sm-flex-1 mypanel-text">
                                <div class="teams-text" style="font-size:14px; font-family: 'Avenir LT Std 65 Medium';">
                                    The App Dev & Microservices Team focuses on microservices and containerization.
                                    This team does Cloud Native Development. They also work with Kubernetes, FaaS, and CI/CD.
                                </div>
                                <div class="btn_div">
                                    <button class="btn btn4" style="margin-top: 70px;"><span style="font-size: 12px;">View Past & Current Projects </span></button>
                                </div>
                            </div>
                        </div>
                    </oj-flex-item>


                    <oj-flex-item>
                        <div class="oj-panel oj-panel-shadow-md oj-sm-margin-2x demo-panel-customizations">
                            <img src="css/images/appdev.png" class="icon" />
                            <h2 style="font-family: 'Avenir LT Std 95 Black'">Block Chain, IOT, & App Dev Team</h2>
                            <div class="oj-flex-item oj-sm-flex-1 mypanel-text">
                                <div class="teams-text" style="font-size:14px; font-family: 'Avenir LT Std 65 Medium';">
                                    The Block Chain, IOT, & App Dev Team does mobile application development as well as web application development.
                                    This team encompasses UI/UX Design, Chatbots, Block Chain, and IOT.
                                </div>
                                <div class="btn_div">
                                    <button class="btn btn4"><span style="font-size: 12px;">View Past & Current Projects </span></button>
                                </div>
                            </div>
                        </div>
                    </oj-flex-item>
                </div>
            </div>
        </div>
    </div>
    </div>

